/* fonts */
@font-face {
    font-family: Montseratt;
    src: url("/assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Montseratt;
    src: url("/assets/fonts/Montserrat-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Montseratt;
    src: url("/assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Montseratt;
    src: url("/assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}