@media (max-width: 1440px){
    .division {
        padding: 0px 18px;
    }
    .division__item {
        margin-left: 18px;
        flex-basis: calc(50% - 36px);
    }
    .main-title__subtitile{
        font-size: 24px;
        line-height: 1.5;
    }
}

@media (max-width: 1440px){
    .footer {
        max-width: 90%;
    }
    .container {
        max-width: 90%;
    }
}
@media (max-width: 600px) {
    .form__double {
        flex-direction: column;
    }
    .menu-container {
        display: none;
    }
    .navbar__inner {
        justify-content: space-between;
    }
    .burger {
        display: inline-block;
    }
    .main-title__title {
        font-size: 36px;
    }
    .division {
        padding: 0px 9px;
    }
    .division__item {
        margin-left: 0px;
        flex-basis: calc(100% - 10%);
    }
}
@media (max-width: 300px) {
    .division__title {
        font-size: 24px;
    }
}
@media  (min-width:601px){
    .menu-modal.visible{
        display: none;
    }
    
}
@media (min-width: 800px) {
    .btn_pink:hover {
        background-color: #ff9c9c7c;
        cursor: pointer;
    }
    .menu__link:hover {
        color: #FF9C9C;
        cursor: pointer;
    }
    .division__item:hover img {
        transform: scale(1.1);
    }
    .division__item:hover {
        border: 2px solid  #8074748e
    }
    .beauty-list__item a:hover {
        opacity: 0.8;
    }
}
