/* Reset styles ----------------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

input::-moz-placeholder {
    color: var(--main-gray);
}

input::-webkit-input-placeholder {
    color: var(--main-gray);
}

textarea::-moz-placeholder {
    color: var(--main-gray);
}

textarea::-webkit-input-placeholder {
    color: var(--main-gray);
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

picture {
    display: block;
}

/* Global ----------------------------------------------------------------------*/
body {
    height: 100%;
    font-family: Montseratt;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5;
    background-color: #FFE7E7
}
.container {
    margin: 0 auto;
    max-width: 80rem;
}

.wrapper {
    height: 100%;
}

/* Header ----------------------------------------------------------------------*/
.global-header{
    margin-bottom: 2rem;
}

/* .global-header_bordered {
    border-bottom: 1px solid #bdbdbd
} */

/* Nav Bar ----------------------------------------------------------------------*/
.navbar {
    position: relative;
    background-color: #FFE7E7;
    width: 100%;
}

.navbar__inner {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.logo-link img {
    height: 3rem;
    width: auto;
}

/* Humburger */
.humburger {
    display: none;
}

/* Menu ----------------------------------------------------------------------*/
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

}

.menu__link {
    font-weight: 600;
    font-size: 1.5rem;
    color: #333333;
    transition: color 0.15s;
}

/* Main block ----------------------------------------------------------------------*/
.content {
    width: 100%;
    min-height: 100%;
}

/* Main Title ----------------------------------------------------------------------*/
.main-title {
    color: #333333;
    text-align: center;
    margin-bottom: 3rem;
}

.main-title__title {
    font-size: 3rem;
    font-weight: 600;
}

.main-title__subtitile {
    font-size: 2rem;
}

.main-title__subtitile a {
    padding: 1px 10px 5px 10px;
    border-radius: 30px;
    background-color: #FF9C9C;
    color: #333333;
    transition: color 0.3s;
}

/*Divisions ----------------------------------------------------------------------*/
.division {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.division__item {
    flex-basis: calc(25% - 1rem);
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #ffffff;
    transition: scale 0.5s;
}

.division__link {
    display: block;
    padding: 2rem;
    color: #333333;
}

.division__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.division__icon {
    margin-bottom: 1rem;
}

.division__icon img {
    height: 3rem;
    transition: 0.5s;
}

/* Footer ----------------------------------------------------------------------*/
.footer {
    background-color: #FFE7E7;
}
.footer_bordered {
    border-top: 1px solid #807474
}
.footer__about {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}