/* Reset styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

input::-moz-placeholder {
    color: var(--main-gray);
}

input::-webkit-input-placeholder {
    color: var(--main-gray);
}

textarea::-moz-placeholder {
    color: var(--main-gray);
}

textarea::-webkit-input-placeholder {
    color: var(--main-gray);
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

picture {
    display: block;
}

/* Global */

body {
    margin: 0 auto;
    font-family: Montseratt;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5;
    background-color: #fff4ff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

.wrapper {
    position: relative;
    height: 100%;
}

/* Header */
.global-header {
    border-bottom: 1px solid #bdbdbd
}

/* Nav Bar */
.global-nav {
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

.global-nav__inner {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.menu__link {
    font-weight: 600;
    font-size: 1.5rem;
}

.menu__link a {
    color: rgb(0, 0, 0);
    transition: color 0.15s;
}



.logo-link img {
    height: 3rem;
    width: auto;
    max-height: 100%;
}

/* Main */
.content {
    margin-bottom: 2rem;
    width: 100%;
    min-height: 100%;
}

.main-title {
    color: #33333b;
    text-align: center;
    margin-bottom: 1rem;
}

.main-title__title {
    font-size: 3rem;
    font-weight: 600;
}

.main-title__subtitile a {
    color: rgb(252, 154, 255);
    transition: color 0.15s;
}


/*Divisions*/
.division {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
}

.division__item {
    flex-basis: calc(25% - 1rem);
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 1s, border 1s, scale 10s;
}
.division__link {
    display: block;
    padding: 2rem;
    color: black
}

.division__item h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.division__item--icon {

    margin-bottom: 1rem;
}

.division__item--icon img {
    height: 3rem;
    transition: 0.5s;
}
/* Footer */
.global-footer{
    background-color: #ffffff;
}
.about {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}